<section th:fragment="deleteModal">
    <div class="modal fade align-items-center" tabindex="-1" id="deleteModal" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Delete User</h5>
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>-->
                </div>

                <div class="modal-body">
                    <div class="bg-white font-weight-bold">
                        <div class="d-flex justify-content-center align-items-center text-center">
                            <section th:replace="fragments/deleteForm.html"></section>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal" id="deleteClose"
                            onclick="deleteHide()">Close
                    </button>
                    <button type="button" class="btn btn-danger" id="deleteBtn"
                            onclick="deleteUser($(this).closest('tr').find('#delete-id').text())">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


